#content {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  font-size: 2rem;
}

div {
  padding: 4px 0;
}

img {
  margin-top: 8px;
  max-width: 250px;
  border-radius: 8px;
}
